
* {
	background:  #6332;
}

table {
	border-collapse:collapse;
}

td {
	border:1px solid black;
	padding: 2px;
}


#header {
	border: 1px solid black;	
}


#main-container {
	width: 100%;
	height: 100%;
}


#header {
	
	padding: 0px;
}


#leftHeader {
	
	float: left;
	margin-left: 10px;
	padding: 2px;
}


#rightHeader {
	
	float: right;
	text-align: right;
	margin-right: 10px;
	padding: 2px;
}



.sortBut{
	float: right;
	
}


.error {
	font-size: large;
	color: rgb(204, 0, 0);
}


.center {
	text-align: center;
	vertical-align: middle;
}

.noborder {
	border: 2px solid red;	
}


#login_form > fieldset {
	display: inline;
	
}

#login_form{

	

	width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}
#login_form > input[type=submit] {
	margin-top: 5px;
}




#list_menu_table {
	margin-top: 5px;
}

#list_menu_table thead {
	text-align: center;
}

#list_menu_table td:last-child {
	text-align: center;
}


#list_order_table > thead > tr {
	text-align: center;
}

#list_order_table td + td + td {
	text-align: center;
}

#list_order_table > tbody td + td + td + td {
	text-align: left;
}

#make_order {
	margin-top: 5px;
}